.player-music {
    background-color: #0F172A !important;
    height: 6rem;
}
.rhap_time, .rhap_current-time {
    color: white !important;
}

::selection {
    background-color: transparent;
    color: turquoise;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }